@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,700;1,700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
}

.navbar2 {
    display: none;
    z-index: 2;
}

.logo {
    float: left;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0px 10px 30px;
    transition: .5s ease-in-out;
    cursor: default;
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    float: right;
}

.navbar nav ul li {
    display: inline;
    padding: 35px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    position: relative;
    display: inline-block;
}

nav ul li a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #cecece;
    transition: width .3s ease;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

.main {
    color: white;
    margin-top: 150px;
}

.header {
    margin: 20px 20px 0 20px;
    font-size: 40px;
}

.name,
.passion {
    margin: 5px;
    font-family: 'Urbanist', sans-serif;
}

.status {
    font-family: "Lilex", monospace;
    font-size: 15px;
}

.about {
    margin: 0 0 0 30px;
    padding-top: 1px;
    font-family: 'Montserrat', sans-serif;
}

.about h2 {
    margin: 120px 0px 0px 3px;
}

hr {
    width: 200px;
    margin: 10px 0px 20px;
}

.aboutme {
    padding-right: 120px;
    line-height: 1.3;
    font-size: 17px;
}

.skills {
    margin-top: 50px;
}

.white {
    margin-right: 20px;
}



.projects {
    padding-top: 80px;
    margin: 20px 0 0 30px;
    font-family: 'Montserrat', sans-serif;
}
.projects h2 {
    margin: 20px 0px 0px 3px;
}
.project-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project {
    display: flex;
    width: 33%;
    height: 110px;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.project-logo {
    pointer-events: none;
    border-radius: 50%;
    width: 100px;
    margin-right: 10px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.project-description {
    font-size: 18px;
    margin: 0;
}

.links {
    margin: 80px 0 0 30px;
    font-family: 'Montserrat', sans-serif;
}

.links-section {
    font-family: 'Urbanist', sans-serif;
    margin: 20px 0;
}

.links-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.links-section li {
    margin: 10px 30px 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.links-section a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
}

.links-section i {
    margin-right: 8px;
}


/* .images {
    margin: 80px 0 0 30px;
    font-family: 'Montserrat', sans-serif;

} */

.contact {
    margin: 80px 0 60px 30px;
    padding-top: 1px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1px;
    color: #ffffff;
}


footer {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.copyright {
    align-self: flex-start;
    font-size: large;
    margin: 7px 0 0 2px;
}

.icons {
    margin: 8px 0 0 0;
}

.icons a {
    align-self: flex-end;
    color: #9c9c9c;
    font-size: 22px;
    margin: 0 3px;
    text-decoration: none;
}

.footerelements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons i:hover {
    color: #ffffff;
}

@media only screen and (max-width: 886px) {
    .navbar {
        display: none;
    }

    .navbar2 {
        display: block;
        overflow: hidden;
        background-color: rgba(25, 56, 88, 0.479);
        position: fixed;
        top: 0;
        width: 100vw;
        backdrop-filter: blur(8px);
    }

    .logo2 {
        float: left;
        font-size: 30px;
        font-weight: 800;
        font-family: 'Urbanist', sans-serif;
        color: #ffffff;
        cursor: default;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }


    .logo2 i {
        cursor: pointer;
    }

    #nav-items a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
        position: relative;
        margin: 30px;
        display: flex;
        flex-direction: column;

    }

    .aboutme {
        padding-right: 30px;
    }

    .project {
        width: 50%;
    }

}

@media screen and (max-width: 600px) {
    .header {
        font-size: 25px;
    }

    .projects {
        flex-direction: column;
    }

    .project {
        width: 500px;
    }
}

@media screen and (max-width: 450px) {
    .footerelements {
        flex-direction: column;
    }

    .icons {
        align-self: flex-start;
    }
    .project-icons{
        margin: -70px 0 0px -25px;
        transform: scale(0.9, 0.9);
    }
    .contact div{
        margin-left: -10px;
    }
}
